.history {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .vase {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .list{
    flex: 1;
  }
}
