.grow-card {
  width: 446px;
  margin: 8px 17px;
  transition: all 0.1s linear;
  height: 220px;
  &:hover {
    margin-bottom: 11px;
    margin-top: -5px;
    height: 230px;
  }
  .disable-card {
    filter: grayscale(100%);
  }
  .card-img {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px 10px 0 0;
    .dead-line {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 14px;
      top: 0;
      right: 0;
      left: 0;
      z-index: 5;
      height: 25px;
      background-color: #414244;
      color: white;
      border-radius: 10px 10px 0 0;
    }
    .cover {
      border-radius: 10px;
      height: 100%;
    }
    .dots {
      width: 91%;
      position: absolute;
      top: 155px;
      z-index: 10;
      background-size: contain;
      right: 50%;
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
    }
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #fcfcfa;
      z-index: 2;
      border-radius: 50%;
      right: -15px;
      bottom: -15px;
      box-shadow: inset 3px 0px 4px -2px rgb(32 32 32 / 16%);
    }
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #fcfcfa;
      border-radius: 50%;
      left: -15px;
      bottom: -15px;
      box-shadow: inset -3px 0px 4px -2px rgb(32 32 32 / 16%);
    }
  }

  .card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 42px;
    box-shadow: 0 4px 6px 0 rgb(32 32 32 / 16%);
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 9px 9px;
    background-color: #fff;
    transition: all 0.2s linear;
    a {
      text-decoration: none;
      color: #00a2a4;
      &:hover {
        color: black;
      }
    }
    .point-card {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30px;
      }
    }
  }
}
