.leave-baner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 25px;
  max-width: 960px;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 187px;
  border-radius: 20px;
  background-image: url(https://taaghche.com/images/rooyesh/rooyeshback-lg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
}
